@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
.searchScreen{
    background-color: rgb(238, 237, 237);
    height: 100vh;
}
.card{
    border-radius: 1rem;
    border: none;
    font-family: "Poppins", sans-serif;
}
.card-img-top{
    border-radius: 1.2rem 1.2rem 0 0;
}
.card-title{
    font-weight: bold;
    color: blue;
}
.address{
    font-size: .9rem;
}
.timingDiv{
    font-size: .9rem;
}
.searchScreenSection{
    height: 20vh;
}
.searchScreenSectionInnerDiv{
    background-color: white;
    height:50%;
    width: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.locationInput{
    width: 70%;
}
.searchInput,.locationInput{
    border: none;
    background-color: rgb(232, 231, 231);
    border-radius: 2rem;
    padding-left: 1.3rem;
}
 